.Container{
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.h2_title1{
    font-size: 70px;
    line-height: 1;
    font-weight: 800;
     /* animation: 8s infinite colorchange; */
margin: 15px 0;
}
/* @keyframes colorchange {
    0% {
        color:black
      }
      25% {
        color: #00DFD8;
      }
      50% {
        color: black;
      }
      75% {
        color: #00DFD8;
      }
      100% {
       color: black;
      }
}
@-webkit-keyframes colorchange {
    0%   {color: black;}
    25%  {color: #00DFD8;}
    75%  {color: black;}
    100% {color: #00DFD8;} */
/* } */
.h2_title2{
    
    font-size: 70px;
display: flex;
align-items: center;
justify-content: center;
 line-height: 1;
    font-weight: 800;
         /* animation: 8s infinite colorChange; */
         padding-left: 18px;
         margin: 15px 0;



}
/* @keyframes colorChange {
    0% {
        color:black
      }
      25% {
        color: #F9CB28;
      }
      50% {
        color: black;
      }
      75% {
        color: #F9CB28;
      }
      100% {
       color: black;
      }
}
@-webkit-keyframes colorChange {
    0%   {color: black;}
    25%  {color: #F9CB28;}
    75%  {color: black;}
    100% {color: #F9CB28;}
} */
